.card {
  /* border: red solid 1px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 1rem;
  border-radius: 5px;
  transition: 1s;
  width: 100%;
  color: white;
}
a {
  color: white;
}
.card:hover {
  z-index: 1;
  scale: 1.1;
}
.image {
  margin-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 200px;
}

.content {
  margin-top: 0;
  padding: 2px 16px;
  background-color: rgb(30, 30, 30);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.margin {
  margin: 1rem;
}
