.skeleton {
  /* border: red solid 1px; */
  /* max-width: 350px; */
  height: 100%;
  width: 100%;
  margin: 1rem;
  border-radius: 5px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skeleton .square {
  /* border: red solid 1px; */
  width: 100%;
  height: 200px;
  border-radius: 5px;
  background: rgba(130, 130, 130, 0.2);
  background: linear-gradient(
    to right,
    rgba(130, 130, 130, 0.2) 8%,
    rgba(130, 130, 130, 0.3) 18%,
    rgba(130, 130, 130, 0.2) 33%
  );
  background-size: 800px 100px;
  animation: wave-squares 2s infinite ease-out;
}
.skeletonLeft {
  flex: 2;
}
.flex1 {
  flex: 1;
}
@keyframes wave-squares {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
